.fake-title-parent {
  position: relative;
}

.fake-title {
  position: absolute;
  top: -70px;
  right: 0;
  font-size: 250px;
  color: #83838304;
  font-family: "Poppins", sans-serif;
  letter-spacing: -10px;
  font-weight: 700;
  z-index: -1;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  height: 100vh;
  margin: auto;
}
.about-container img {
  display: block;
  width: 100%;
  margin: auto;
  padding: 70px;
}
.About-main-text {
  width: 85%;
  margin: 50px 0 0 0;
}

.About-main-text p {
  line-height: 35px;
  font-size: 30px;
  color: #c4c4c4;
  white-space: pre-line;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* opacity: 0.7; */
}
.About-main-text span {
  font-weight: 500;
  font-size: 35px;
  color: #fff;
}
.about-sub-text {
  color: #ffffff;
  opacity: 0.7 !important;
  font-family: "Commissioner", sans-serif;
  font-weight: normal !important;
  margin-top: 30px;
  font-size: 20px;
}

/* From cssbuttons.io by @alexmaracinaru */

.morebtn {
  margin: 20px 0;
}
.cta {
  border: none;
  background: none;
}

.cta span {
  font-family: "Commissioner", sans-serif;
  padding-bottom: 7px;
  font-size: 18px;
  padding-right: 15px;
  color: #ffffff;
  opacity: 0.5;
  font-weight: normal;
  /* letter-spacing: 0.5px; */
  transition: 0.2s ease-in-out;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.2s ease; 
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: #cecece;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: #27496d;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
