.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  height: auto;
  margin: 80px auto 0;
  padding: 25px 0;
  border-bottom: 1px solid #8b949e10;
}
.about-container img {
  display: block;
  width: 45%;
  margin: auto;
}
.About-main-text {
  width: 100%;
  margin: 30px 0 0 0;
}
.About-main-text h1 {
  color: var(--second-color);
  font-size: 35px;
  font-family: "Outfit", sans-serif;
}

.About-main-text p {
  line-height: 20px;
  font-size: 18px;
  color: var(--second-color);
  white-space: pre-line;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.about-sub-text {
  color: #8b949e;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 5px;
  font-size: 15px;
  line-height: 22px;
}

/* From cssbuttons.io by @alexmaracinaru */

.morebtn {
  margin: 10px 0;
}
.cta {
  border: none;
  background: none;
}

.cta span {
  font-family: "Inter", sans-serif;
  padding-bottom: 7px;
  font-size: 13px;
  text-transform: capitalize;
  padding-right: 15px;
  color: var(--Main-color);
  opacity: 0.8;
  font-weight: normal;
  transition: 0.2s ease-in-out;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.2s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: #cecece;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: #7f78d2;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media only screen and (min-width: 768px) {
  .about-container {
    flex-direction: row;
    max-width: 61%;
    height: 100vh;
    padding: 0;
    margin: 0 auto;
  }
  .About-main-text {
    width: 100%;
    margin: 0;
  }
  .About-main-text h1 {
    font-size: 33px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
    color: var(--third-color);
    line-height: 32px;
    margin-bottom: 10px;
  }
  .About-main-text h1 span {
    font-weight: 500;
    color: var(--second-color);
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
  }
  .about-sub-text {
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0;
  }
  .cta span {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1281px) {
  .About-main-text h1 {
    font-size: 37px;
    line-height: 37px;
  }
  .About-main-text h1 span {
    font-size: 45px;
  }
  .about-sub-text {
    font-size: 22px;
    line-height: 32px;
  }
  .cta span {
    font-size: 19px;
  }
}
