.skeleton {
  margin: 10px 0;
  border-radius: 5px;
  animation: skeleton-loading 0.7s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: #23272c1b;
  }
  100% {
    background-color: #23272c66;
  }
}
.skeleton.text {
  width: 100%;
  height: 12px;
  margin: 10px 0;
}
.skeleton.title {
  width: 100%;
  height: 30px;
  margin: 30px 0;
}
.skeleton.image {
  display: block;
  width: 100%;
  height: 350px;
  margin: 30px 0;
  border-radius: 0px;
}
.skeleton.imagee {
  display: block;
  width: 100%;
  height: 125px;
  margin: 0 0 30px 0;
  border-radius: 10px;
}
.skeleton-blog {
  margin: 0 50px 100px 0;
}

@media screen and (max-width: 768px) {
  .skeleton.imagee {
    display: block;
    width: 100%;
    height: 100px;
    margin: 0 0 15px 0;
    border-radius: 10px;
  }
  .skeleton-blog {
    margin: 0;
  }
}
