.blogpost {
  max-width: 90%;
  margin: 70px auto;
}
.main-img img {
  display: block;
  width: 100%;
  height: auto;
  margin: 10px auto 30px auto;
}
.blog_title {
  color: #fff;
  margin-top: 50px;
  font-family: "Jost", sans-serif;
  font-size: 40px;
}
.blog_text h1 {
  font-size: 30px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 38px;
}
.blog_text h2 {
  font-size: 25px;
  color: #fff;
  opacity: 0.9;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}
.blog_text h3 {
  font-size: 22px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin: 10px 0 5px 0;
  font-weight: 500;
}
.blog_text h4 {
  font-size: 25px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin: 0px 0 5px 0;
  font-weight: 500;
}
.blog_text ul {
  /* list-style: circle; */
  color: #fff;
  opacity: 0.7;
}
.blog_text ul li {
  margin: 10px 15px;
}
.blog_text p {
  color: var(--third-color);
  line-height: 21px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1px;
  font-size: 14px;
  margin-bottom: 25px;
}
.blog_text a {
  text-decoration: none;
  color: #ffffff;
}

.blog_text img {
  display: block;
  width: 100%;
}

/* From uiverse.io by @Jedi-hongbin */
.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--third-color);
  font-family: "Inter", sans-serif;
  /* border-radius: 3px; */
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  /* background: var(--Main-color); */
  background: none;
  padding: 12px 0px;
  font-size: 15px;
}

.back-btn > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.back-btn:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}
.share-text span {
  border-top: 1px solid #ffffff10;
  color: var(--third-color);
  font-size: 15px;
  padding-top: 6px;
}
.share-text {
  margin-top: 30px;
}
.socialshare-icons button {
  margin: 5px;
}
.socialshare-icons {
  margin: 10px 0;
}
button {
  all: unset;
  cursor: pointer;
}
/* .css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root {
  background-color: #7f78d2 !important;
} */

@media only screen and (min-width: 768px) {
  .blogpost {
    max-width: 60%;
    margin: 70px auto;
  }
  /* .blog_title {
    color: #fff;
    margin-top: 50px;
    font-family: "Jost", sans-serif;
    font-size: 60px;
  } */
  .blog_text h1 {
    font-size: 40px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 46px;
  }
  .blog_text h2 {
    font-size: 30px;
    color: #fff;
    opacity: 0.9;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .blog_text h3 {
    font-size: 27px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin: 10px 0 5px 0;
    font-weight: 500;
  }
  .blog_text p {
    line-height: 30px;
    font-size: 19px;
  }
  .blog_text a {
    color: var(--third-color);
  }
}
