.blog {
  max-width: 90%;
  margin: 80px auto;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.blog-container {
  position: relative;
  width: 100%;
  height: auto;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  background-color: #161b22;
  border-radius: 10px;
}
.blog-container h2 {
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  margin: 0;
  font-family: "Commissioner", serif;
  font-weight: 500;
  color: var(--second-color);
  opacity: 0.8;
}
.blog-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}
.blog-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

@media only screen and (min-width: 768px) {
  .blog {
    max-width: 60%;
    margin: 80px auto;
  }
  .blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
  .blog-container h2 {
    font-size: 20px;
    line-height: 25px;
    padding: 15px 15px 30px 15px;
    margin: 0;
    font-family: "Commissioner", serif;
    font-weight: 500;
    color: var(--second-color);
    opacity: 0.8;
  }
  .blog-container {
    /* z-index: 90000; */
    position: relative;
    width: 100%;
    height: auto;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    background-color: #161b22;
    border-radius: 10px;
  }

  .blog-container img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }
  .blog-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1281px) {
  .blog-list {
    gap: 60px;
  }

  .blog-container h2 {
    font-size: 22px;
    line-height: 28px;
  }
}
