.blog-list {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  margin: 30px auto;
}

.blog-container {
  width: 100%;
  height: auto;
  background-color: #2b2b2b;
  /* box-shadow: 0px 0px 6px #00000060; */
  border-radius: 5px;
  transition: 0.1s ease-in-out;
  text-decoration: none;
}
.blog-container:hover {
  /* box-shadow: 0px 0px 10px #00000085; */
  transform: translateY(-2px);
}

.blog-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0px 5px 0 0;
}
.blog-container h2 {
  color: #ffffff;
  font-size: 20px;
  font-family: "Commissioner", sans-serif;
  line-height: 27px;
  font-weight: 400;
  margin: 13px 10px 25px 10px;
}
