.blog {
  max-width: 90%;
  margin: 80px auto;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 25px;
  margin: 50px 0;
}

.blog-container {
  width: 100%;
  height: auto;

  /* box-shadow: 0px 0px 6px #00000060; */
  border-radius: 5px;
  transition: 0.1s ease-in-out;
  text-decoration: none;
}
.blog-container:hover {
  /* box-shadow: 0px 0px 10px #00000085; */
  transform: translateY(-2px);
}

.blog-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}
.blog-container h2 {
  color: var(--second-color);
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  line-height: 27px;
  font-weight: 700;
  padding: 20px;
  background-color: #161b22;
  border-radius: 5px;
}

/* Skeleton */
.MuiSkeleton-rectangular {
  background-color: #23272c66 !important;
  max-width: 100%;
  height: 150px !important;
  margin: 0 auto;
}
.MuiSkeleton-root {
  background-color: #23272c66 !important;
  margin: 10px auto;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .blog {
    max-width: 60%;
    margin: 80px auto;
  }
  .blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
  }
}
