.blog {
  max-width: 90%;
  margin: 80px auto;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px 0;
}

.blog-container {
  width: 100%;
  height: auto;
  transition: 0.1s ease-in-out;
  text-decoration: none;
}
.blog-container h2 {
  font-size: 20px;
  line-height: 35px;
  margin: 20px;
  /* font-family: "Manrope", serif; */
  font-weight: normal;
  color: #ffffff;
}
.blog-container {
  position: relative;
  width: 100%;
  height: 150px;
  border: 1px solid #ffffff15;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.blog-container:nth-child(1),
.blog-container:nth-child(3) {
  border-top: 1px solid #ffffff15;
  border-right: none;
  border-bottom: 1px solid #ffffff15;
  border-left: none;
}

@media only screen and (min-width: 768px) {
  .blog {
    max-width: 60%;
    margin: 80px auto;
  }
  .blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .blog-container h2 {
    font-size: 30px;
    margin: 20px;
    font-family: "Commissioner", serif;
    font-weight: 400;
    color: var(--second-color);
  }
  .blog-container {
    z-index: 90000;
    position: relative;
    width: 100%;
    height: 200px;
    border: 1px solid #ffffff15;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  .blog-container:hover {
    background-color: #8b949e0a;
  }

  /* .blog-container:first-child::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: #0d1117;
    border: 1px solid #ffffff15;
    border-radius: 50%;
    bottom: -5px;
    right: -6.7px;
    z-index: 10;
  } */

  .blog-container:nth-child(1),
  .blog-container:nth-child(3) {
    border-top: 1px solid #ffffff15;
    border-right: none;
    border-bottom: 1px solid #ffffff15;
    border-left: none;
  }
  .blog-container:nth-child(3) {
    border-right: 1px solid #ffffff15;
  }
  .blog-container:nth-child(1) {
    border-left: 1px solid #ffffff15;
  }
  .blog-container:nth-child(4),
  .blog-container:nth-child(5) {
    border-top: none;
    border-right: 1px solid #ffffff15;
    border-bottom: 1px solid #ffffff15;
    border-left: none;
  }
  .blog-container:nth-child(4) {
    border-left: 1px solid #ffffff15;
  }
  .blog-container:nth-child(6) {
    border-left: none;
    border-top: none;
  }
}

.blog-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
