.container {
  /* max-width: 90%; */
  margin: 90px auto 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content form .user-details {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 19px;
  width: 100%;
  /* width: calc(100% / 2 - 20px); */
}
.textarea-box {
  width: 100%;
}
form .input-box span.details,
form .textarea-box span.details {
  display: block;
  font-weight: 500;
  margin: 0 0 5px 5px;
  color: var(--second-color);
  font-size: 15px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 14px;
  border-radius: 8px;
  padding-left: 15px;
  /* border: .5px solid #1d1d1d; */
  border: none;
  color: var(--third-color);
  background: #161b22;
  transition: all 0.3s ease;
  font-family: "Inter", sans-serif;
}
.user-details .textarea-box textarea {
  font-family: "Inter", sans-serif;
  color: var(--third-color);
  width: 100%;
  background: #161b22;
  height: auto;
  outline: none;
  font-size: 16px;
  padding-top: 10px;
  border-radius: 8px;
  padding-left: 15px;
  /* border: .5px solid #1d1d1d; */
  border: none;
  transition: all 0.3s ease;
}
textarea {
  resize: none;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid,
.user-details .textarea-box textarea:valid,
.user-details .textarea-box textarea:focus {
  box-shadow: 1px 4px 10px #7f78d214;
}
::placeholder {
  color: var(--third-color);
}

.content button {
  /* Variables */
  --button_radius: 12px;
  --button_color: #7f78d2;
  --button_outline_color: #585297;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 20px 0 30px 0;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 1px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 12px 20px;
  background: var(--button_color);
  color: rgb(236, 236, 236);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

form button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.25em);
}

form button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 60%;
    margin: 70px auto 0;
  }
  .content form .user-details {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
  }
  form .user-details .input-box {
    margin-bottom: 20px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details,
  form .textarea-box span.details {
    font-size: 17px;
  }
  .user-details .input-box input {
    height: 50px;
    font-size: 15px;
  }
}
