/* .home {
  position: relative;
} */
.hometext {
  /* position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%); */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}
.intro {
  font-family: "mySecondFont", cursive;
  color: #8b949e;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 1px;
}
.main-title {
  width: 100%;
  line-height: 110px;
  color: #f0f6fc;
  font-family: "Antonio", sans-serif;
  font-weight: 600;
  letter-spacing: -7px;
  text-transform: uppercase;
  display: flex;
  align-content: center;
  align-self: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 150px;
}

.subtext {
  width: 100%;
  display: grid;
  margin: 40px 0 20px 0;
  font-family: "Inter", sans-serif;
  color: #8b949e;
  font-weight: 500;
}
.subtext-1 {
  font-size: 23px;
  margin-bottom: 1px;
}
.subtext-2 {
  font-size: 13.5px;
}

.btn-links {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
/* CSS */
.button-27 {
  width: 40%;
  appearance: none;
  background-color: #7f78d2;
  border: 2px solid #7f78d2;
  /* border: 2px solid #7f78d2; */
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: 0.6px;
  font-size: 15px;
  font-weight: 600;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  line-height: 50px;
  border-radius: 100px;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  color: #fff;
  background-color: #7f78d2;
  box-shadow: #7f78d252 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}
.button-28 {
  width: 40%;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  appearance: none;
  background-color: var(--background-color);
  border: 2px solid #7f78d2;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  font-weight: 600;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  border-radius: 100px;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: var(--background-color);
  box-shadow: #7f78d252 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

/* .social-icons {
  position: fixed;
  top: 60%;
  right: 1%;
  transform: translate(-50%, -50%);
}
.social-icons a {
  color: #7f78d2;
  font-size: 25px;
  border: 1px solid transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.social-icons a:hover {
  color: #7295b8;
}
.social-icons-border {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  background-color: #1d1d1d;
  text-align: center;
  padding: 10px 0;
}
.social-icons-border::before {
  position: absolute;
  content: "";
  width: 0.5px;
  height: calc(100vh - 60vh);
  background-color: #7f78d2;
  top: 50%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  z-index: -1;
} */
/* 
.box {
  position: absolute;
  bottom: 25px;
  left: 50%;
  cursor: pointer;
}

.box span {
  display: block;
  width: 8px;
  height: 8px;
  border-bottom: 1px solid #757575;
  border-right: 1px solid #757575;
  transform: rotate(45deg);
  animation: animate 2s infinite;
}

.box span:nth-child(2) {
  animation-delay: -0.1s;
}

.box span:last-child {
  animation-delay: -0.2s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
} */

@media only screen and (min-width: 768px) {
  .hometext {
    padding-top: 0;
  }
  .main-title {
    width: 100%;
    line-height: 145px;
    color: #f0f6fc;
    font-family: "Antonio", sans-serif;
    font-weight: 600;
    letter-spacing: -7px;
    font-size: 200px;
  }
  .subtext {
    width: 100%;
    display: grid;
    margin: 40px 0 20px 0;
    font-family: "Inter", sans-serif;
    color: #8b949e;
    font-weight: 500;
  }
  .subtext-1 {
    font-size: 32px;
    margin-bottom: 1px;
    margin-left: 2px;
  }
  .subtext-2 {
    font-size: 18.7px;
  }
  .btn-links {
    width: 100%;
    max-width: 41%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }
}
