.home {
  position: relative;
  width: 100%;
  height: auto;
}
.hometext {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.intro {
  font-family: "Montez", cursive;
  color: #646464;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
}
.main-title {
  line-height: 150px;
  color: #8d8d8d;
  font-family: "Antonio", sans-serif;
  font-weight: 600;
  letter-spacing: -10px;
  text-transform: uppercase;
  font-size: 200px;
}

.subtext {
  display: grid;
  margin: 60px 0 20px 15px;
  font-family: "Poppins", sans-serif;
  color: #646464;
  font-weight: 500;
}
.subtext-1 {
  font-size: 29px;
  margin-bottom: -5px;
}
.subtext-2 {
  font-size: 16.8px;
}

.btn-links {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
/* CSS */
.button-27 {
  appearance: none;
  background-color: #27496d;
  border: 2px solid #27496d;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: 0.6px;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  outline: none;
  max-width: 170px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  margin: 0 20px;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: #27496d52 0 8px 15px;
  transform: translateY(0);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

.button-28 {
  max-width: 170px;
  margin: 0 20px;
  appearance: none;
  background-color: transparent;
  border: 2px solid #27496d;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  font-weight: 600;
  outline: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1d1d1d;
  box-shadow: #27496d52 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.social-icons {
  position: absolute;
  top: 60%;
  right: 1%;
  transform: translate(-50%, -50%);
}
.social-icons a {
  color: #27496d;
  font-size: 25px;
  border: 1px solid transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.social-icons a:hover {
  color: #7295b8;
}
.social-icons-border {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  background-color: #1d1d1d;
  text-align: center;
  padding: 10px 0;
}
.social-icons-border::before {
  position: absolute;
  content: "";
  width: 0.5px;
  height: calc(100vh - 60vh);
  background-color: #27496d;
  top: 50%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  z-index: -1;
}
