@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One|Roboto+Mono:400,700&display=swap");

:root {
  --color-primary: #161b22;
  --color-secondary: #75757c;
  --color-dark: #364c62;
  --color-light: #f5f5f5;
  --font-family-primary: "Roboto Mono", monospace;
  --font-family-secondary: "Rubik Mono One", sans-serif;

  // Global transition values
  --td: 150ms;
  --te: cubic-bezier(0.215, 0.61, 0.355, 1);
}

// ================================
// Main navigation
// ================================

.nav-main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: -100%;
  position: fixed;
  transition: left 0s calc(var(--td) * 2), transform 0s calc(var(--td) * 2);
  width: 100%;
  top: 0;

  &::before,
  &::after {
    content: "";
    background-color: var(--color-primary);
    height: 50%;
    left: 0;
    position: absolute;
    transform: translateX(-110%);
    transform-origin: 0 50%;
    transition: transform calc(var(--td) * 2) var(--td) var(--te);
    width: 100%;
    z-index: -100;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  .menu__item {
    opacity: 0;
    transform: translateX(-1rem);
    transition: opacity var(--td) var(--te), transform var(--td) var(--te);
  }
}

// ================================
// Main navigation toggle
// ================================

[id="main-navigation-toggle"] {
  opacity: 0;
  position: fixed;
  top: -100%;

  ~ label {
    cursor: pointer;
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 100;

    span {
      display: block;
      height: 2rem;
      position: relative;
      transition: transform calc(var(--td) * 3) var(--te);
      width: 2.5rem;
      background-color: #161b22;

      &::before {
        transform: rotate(0) translateY(-45%);
        background-color: #ffffff;
        top: 10px;
        bottom: 0;
        right: 0;
        left: 0;
        content: "";
        height: 1px;
        margin: auto;
        position: absolute;
        transition: transform calc(var(--td) * 3) var(--te);
        width: calc(100% - 1.3rem);
      }

      &::after {
        transform: rotate(0) translateY(45%);
        background-color: #ffffff;
        top: 0;
        bottom: 10px;
        right: 0;
        left: 0;
        content: "";
        height: 1px;
        margin: auto;
        position: absolute;
        transition: transform calc(var(--td) * 3) var(--te);
        width: calc(100% - 1.3rem);
      }
    }
  }
}

[id="main-navigation-toggle"]:checked ~ label {
  span {
    transform: rotate(1turn);

    &::before {
      transform: rotate(45deg);
      height: 1px;
      top: 0;
    }

    &::after {
      transform: rotate(-45deg);
      height: 1px;
      bottom: 0;
    }
  }
}

[id="main-navigation-toggle"]:checked ~ .nav-main {
  left: 0;
  transition: transform 0s;
  z-index: 1;

  &::before,
  &::after {
    transform: translateX(0);
    transition-delay: 0s;
  }

  &::after {
    transition-delay: calc(var(--td) / 2);
  }

  .menu__item {
    opacity: 1;
    transform: translateX(0);
    transition: opacity calc(var(--td) * 2) var(--te),
      transform calc(var(--td) * 2) var(--te);
  }

  @for $i from 1 through 5 {
    .menu__item:nth-child(#{$i}) {
      transition-delay: calc(var(--td) * 2 * (#{$i} * 0.25));
      z-index: $i * -1;
    }
  }
}

// ================================
// Menu
// ================================

.menu {
  position: relative;
  text-align: center;
  z-index: 1;

  > .menu__item {
    font-family: "Poppins";
    font-size: 35px;
  }
}

// ================================
// Menu item
// ================================

.menu__item {
  display: block;
  position: relative;

  &::after {
    transition-delay: calc(var(--td) / 2);
  }
}

// ================================
// Menu link
// ================================

.menu__link {
  color: #ffffff;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: color var(--td) var(--te), opacity var(--td) var(--te),
    transform var(--td) var(--te);
  z-index: 1;

  &::before,
  &::after {
    content: "";
    background-color: var(--color-light);
    height: 50%;
    left: 0;
    position: absolute;
    transform: translateX(-110%);
    transform-origin: 0 50%;
    transition: transform 0s var(--te);
    width: 100%;
    z-index: -1;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

[id="main-navigation-toggle"]:not(:checked) ~ .nav-main {
  opacity: 0;
}
