.loader {
  -webkit-perspective: 700px;
  perspective: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: var(--background-color);
}

.loader > span {
  font-size: 80px;
  font-family: "franklin gothic medium", sans-serif;
  display: inline-block;
  animation: flip 2.6s infinite linear;
  transform-origin: 0 70%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  color: var(--second-color);
}

@keyframes flip {
  35% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

.loader > span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
  animation-delay: 0.4s;
}

.loader > span:nth-child(4) {
  animation-delay: 0.6s;
}

.loader > span:nth-child(5) {
  animation-delay: 0.8s;
}

.loader > span:nth-child(6) {
  animation-delay: 1s;
}

.loader > span:nth-child(7) {
  animation-delay: 1.2s;
}
