@keyframes ldio-n3qhjxzkitm {
  0% {
    top: 107.80000000000001px;
    left: 107.80000000000001px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 1.1px;
    left: 1.1px;
    width: 213.4px;
    height: 213.4px;
    opacity: 0;
  }
}
.ldio-n3qhjxzkitm div {
  position: absolute;
  border-width: 2.2px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-n3qhjxzkitm 0.5747126436781609s cubic-bezier(0, 0.2, 0.8, 1)
    infinite;
}
.ldio-n3qhjxzkitm div:nth-child(1) {
  border-color: #27496d;
  animation-delay: 0s;
}
.ldio-n3qhjxzkitm div:nth-child(2) {
  border-color: #27496d;
  animation-delay: -0.28735632183908044s;
}
.loadingio-spinner-ripple-ol9th6mg73o {
  width: 220px;
  height: 220px;
  display: inline-block;
  overflow: hidden;
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ldio-n3qhjxzkitm {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-n3qhjxzkitm div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
