/* .Skills-container {
  max-width: 70%;
  height: auto;
  margin: 50px auto;
} */

.skills {
  max-width: 90%;
  margin: auto;
  padding: 25px 0;
}
.skill-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  /* grid-gap: 10px; */
  color: #f0f6fc;
  margin-top: 30px;
}
.skill-container {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  background-color: #161b2293;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}
.skill-container:hover {
  box-shadow: 2px 2px 10px #d6fcff04;
  transform: translateY(-2px);
}
.skill-container svg {
  font-size: 40px;
  margin: 5px 0;
}
.skill-container p {
  font-size: 13px;
  margin: 5px 0;
  color: #f0f6fc;
  font-family: "Inter", sans-serif;
}

@media only screen and (min-width: 768px) {
  .skills {
    max-width: 60%;
    margin: 50px auto;
    padding:  0;
  }
  .skill-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    /* grid-gap: 10px; */
    color: #f0f6fc;
    margin: 30px auto;
  }
  .skill-container {
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    background-color: #161b2293;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }
  .skill-container svg {
    font-size: 50px;
    margin: 5px 0;
  }
}
