/* .Skills-container {
  max-width: 70%;
  height: auto;
  margin: 50px auto;
} */

.skills {
  max-width: 90%;
  margin: auto;
  padding: 25px 0;
}
.skill-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  /* grid-gap: 10px; */
  color: #f0f6fc;
  margin-top: 30px ;
}
.skill-container {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  background-color: #8b949e14;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.skill-container:hover {
  box-shadow: 2px 2px 10px #ffffff17;
}
.skill-container svg {
  font-size: 40px;
  margin: 5px 0;
}
.skill-container p {
  font-size: 13px;
  margin: 5px 0;
  color: #f0f6fc;
  font-family: "Inter", sans-serif;
}
