.projects-list {
  max-width: 90%;
  margin: auto;
  padding-top: 80px;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* background-color: #1d1d1d; */
  margin: 40px 0;
}
.project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  /* gap: 10px; */
}

.project-details h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 23px;
  color: #ffffff;
  opacity: 0.9;
}
.project-details p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #ffffff;
  opacity: 0.8;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: .3px;
  margin-top: 5px;
}
.project-container img {
  display: block;
  /* margin: 0 20px; */
  width: 100%;
  height: auto;
}

.site-link {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #27496d;
  --button_outline_color: #2c3a49;
  font-size: 13px;
  font-family: "Commissioner", sans-serif;
  font-weight: 500;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  border: 1px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  background: var(--button_color);
  color: rgb(236, 236, 236);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
  padding: 10px 32px;
  margin: 15px 0;
}

.site-link:hover {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.25em);
}

.site-link:active {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}
