.work-list {
  max-width: 90%;
  margin: 80px auto 0;
}

.cat-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}

/* From uiverse.io */
.cat-btn {
  background-image: linear-gradient(144deg, #7f78d2, #928ec0 50%, #7f78d2);
  border: none;
  border-radius: 8px;
  box-shadow: rgb(127, 120, 210, 0.1) 0 15px 30px -5px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  max-width: 100%;
  padding: 2px;
  touch-action: manipulation;
  transition: all 0.3s;
  margin: 0 10px;
}
.cat-btn-active {
  background-image: linear-gradient(144deg, #7f78d2, #928ec0 50%, #7f78d2);
  border: none;
  border-radius: 8px;
  box-shadow: rgb(127, 120, 210, 0.1) 0 15px 30px -5px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  max-width: 100%;
  padding: 2px;
  touch-action: manipulation;
  transition: all 0.3s;
  margin: 0 10px;
}

.cat-btn:first-child {
  margin-left: 0;
}

.cat-btn:hover {
  outline: 0;
}
.cat-btn:target {
  font-size: 100px;
}

.cat-btn span {
  background: var(--background-color);
  padding: 12px 20px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.cat-btn:hover span,
.cat-btn-active span {
  background: none;
}

.cat-btn:active {
  transform: scale(0.9);
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  border: 1px solid #8b949e2f;
  background-color: var(--background-color);
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
  /* border-top: 2px solid #7f78d2; */
}
.project-container:hover {
  background: #8b949e0a;
}
.project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  /* gap: 10px; */
}

.project-container h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 23px;
  color: #f0f6fc;
}
.project-container p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #8b949e;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.1px;
  margin-top: 5px;
}
.source-links {
  display: flex;
}
.site-link {
  margin: 10px 10px 0;
  color: #8b949e;
  font-size: 20px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.site-link:hover {
  color: #ffffff;
  transform: scale(1.2);
}

@media only screen and (min-width: 768px) {
  .work-list {
    max-width: 60%;
    height: auto;
    margin: 70px auto;
  }
  .projects-list {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr;
    gap: 20px;
    margin: 0;
  }
  .project-container {
    margin: 0;
  }
  .project-container p {
    font-size: 18px;
    line-height: 25px;
    margin-top: 8px;
  }
}
@media only screen and (min-width: 1281px) {
  .project-container h1 {
    font-size: 26px;
  }
  .project-container p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 8px;
  }
}
