@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:regular,700,900);
@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=News+Cycle:regular,700);
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Mohave:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

@font-face {
  font-family: myFirstFont;
  src: url(./Assets/MISTRAL.woff);
}
@font-face {
  font-family: mySecondFont;
  src: url(./Assets/SegoeScript.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Main-color: #7f78d2;
  --second-color: #f0f6fc;
  --third-color: #99a2ac;
  --background-color: #0d1117;
}
/* html,
body, * {
  cursor: none;
} */

body {
  width: 100%;
  height: auto;
  background-color: var(--background-color);
  /* user-select: none; */
}
a {
  text-decoration: none;
  /* text-align: center;
  align-items: center;
  justify-content: center;
  display: flex; */
}
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8b949e2c;
  padding: 10px;
  border-radius: 7px;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  html {
    overflow: auto;
    overflow-x: auto;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
}
